<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navbar') %>
    

    <h3> Proses Lamaran Anda </h3>

    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">No</th>
            <th scope="col">Nama</th>
            <th scope="col">Usia</th>
            <th scope="col">Mahar</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>

         <%   arr.forEach( el => { %>
                <tr>
                  <th scope="row">1</th>
                  <td><%= el.nama %></td>
                  <td><%= el.usia %></td>
                  <td><%= toRupiah(el.mahar)  %></td>
                  <td><a href="">Akad</a> || <a href="/batalkan/<%= loggedUser %>/<%= el.id %>">Batalkan</a> </td>
                </tr>
          <%  }) %>

        </tbody>
      </table>

</body>
</html>