<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navbar') %>
<div class="container-fluid" style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center;">
    <% let random = 1%>
    <% arr.forEach( obj => { %>
        <div class="card m-2 p-4" style="width: 18rem;">
            <img class="card-img-top" src="https://picsum.photos/200/300?random=<%= random %>" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><%= (obj.nama) %></h5>
              <p class="card-text"></p>
              <p class="m-1">Usia: <%= obj.usia %></p>
              <p class="m-1">Tinggi: <%= obj.tinggi %></p>
              <p class="m-1">Berat: <%= obj.berat %></p>
              <p class="m-1">Pekerjaan: <%= obj.pekerjaan %></p>
              <a href="/<%= loggedUser %>/lamar/<%= obj.id %>" class="btn btn-primary">Minta Lamar</a>
            </div>
          </div>
          <% }) %>
        </div>
    </body>
    </html>
    <!-- <% random ++ %> -->